<div class="arrow-left"></div>
<div class="arrow-right"></div>


<style>


.arrow-left, .arrow-right {
position: absolute;
background-color: black;
height:20px;
width:1px;


}

.arrow-right {
    right: 8%;
}

.arrow-left {
    left: 58%;
    


}
</style>