
   <div class="create-overlay"></div>
   
<div id="modal-wrapper" class="modal-wrapper">
   
  

 
 <form action="/home" method="POST" id="add-item" class="add-item">
    <h3>Create a new Shopping Item</h3>
       <div class="category-item">
            <label for="category">Category</label>
            <select class="category-input" type="select" name="category"  required>
                <option value="bakery">Bakery</option>
                <option value="cleaning">Cleaning</option>
                <option value="toiletries">Toiletries</option>
                <option value="kitchen-accessories">Kitchen Accessories</option>
                <option value="dry-goods">Dry goods</option>
                <option value="fruit-veg">Fruit & Veggies</option>
                <option value="dairy">Dairy</option>
                <option value="meat">Meat</option>
                <option value="seafood">Seafood</option>
                <option value="frozen">Frozen</option>
                <option value="beverages">Beverages</option>
                </select>
                <label for="item">Item name</label>
                <input class="create-input" type="text" name="item" autocomplete="off" required>
            </div>
     <button id="add-btn" class="add-btn" type="submit">Submit</button>
</form>
<div id="close-circle" class="times-border">
    <h1 id="create-close" class="create-close">&times;</h1>
   </div>


</div>


<style>

   

  

</style>

   