<div id="menu-wrapper" class="menu-wrapper">
    <div id="top" class="top "></div>
    <div id="bottom" class="bottom "></div>
</div>
<div>
    <p>Clear List</p>
    <p id="create-item-modal">Create<br>Item</p>
    <p><a href="/logout" class="param-logout">Log<br>out</a></p>
</div>


<style>

    .menu-wrapper {
        position: fixed;
        top: 5%;
        right:5%;
        z-index: 5;
        
    }

    .menu-wrapper.active {
        display:flex;
        position: fixed;
        top: 0%;
        right:0%;
       
    }

    .top {
        height:2px;
        width:25px;
        background-color: red;
        border-radius: 5px;
        padding:2px;
        margin-right: 7px;
        animation-duration: 2s;
        
    }

   

    .bottom {
        height:2px;
        width:25px;
        background-color: red;
        border-radius: 5px;
        padding:2px;
        margin-right: 2px;
        margin-top: 5px;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        
        
        

    }

    .top.active {
        display:flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        right:18.2%;
        top:3%;
        height:33px;
        width:50px;
        background-color: yellow;
        animation-duration: 2s;
     

        
       
       
    }

    .bottom.active {
        display:flex;
        position: fixed;
        right:0%;
        top:2.1%;
        height:33px;
        width:50px;
        background-color: red;
        text-align: center;
        align-items: center;
       
        animation-duration: 2s;
        
        
        
    }

    p.param-create-item, a.param-logout {
       display:none;
        
    }
    p.param-create-item.active, a.param-logout.active {
        display: inline-block;
        color:white;
        text-align: center;
        text-decoration: none;
    }


</style>