

<div id="menu-wrapper" class="menu-wrapper">
    <div id="top" class="top"></div>
    <div id="bottom" class="bottom"></div>
</div>
<div class="drop-menu">
    <div class="menu-options">
        <p id="top-menu-clear">Clear List</p>
        <p id="create-item-modal">Create Item </p>
        <p><a href="/logout" class="param-logout"> Log out</a></p>
    </div>
</div>
