<!DOCTYPE html>


<div class="page-wrapper">
    <div class="site-header-container">
        <h1 class="site-header"><span style="color:red">Shop</span>ean</h1>
         
        
    </div>
</div>
    