<div class="page-wrapper">
    <div class="site-header-container">
        <h1 class="site-header"><span style="color:red">Shop</span>ean</h1>
         
       
       
        <!-- <a href="/logout">Log out</a> -->
        
    </div>


    <style>

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    
}

.site-header-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: rgb(91, 172, 204);
    height:65px;
    position: fixed;
    top:0%;
    left:0%;
    width:100%;
    z-index: 5;
}

.site-header{
    font-family:'pacifico', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-left: 10px;
    
    }


    </style>