.site-header{
    text-align: center;
}

.wrapper{
    width:50%;
    height:100%;
    margin-left:25%;
    margin-top:10%;
    
    
}

.item{
    margin:5px;
    cursor: pointer;
    
    
}


    




.shopping{
    padding:5px;
    list-style: none;
}

.btn{
    margin-left:45%;
}