<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%-include ('./partials/nav.ejs') %>
<div class="oops">
    <h1>OOPS!!!<br> THIS PAGE HAS NOT BEEN FOUND</h1>
    <p>Click below to return to your Shopping List</p>
    <button class="oops-btn"><a style="text-decoration: none; color:white;" href="/home">Return</a></button>
</div>
    <%- include('./partials/footer.ejs') %>
    

    <style>
.oops {
    
    margin-top: 100px;
    text-align: center;
    

}

    </style>
</body>
</html>