


    <%- include('./partials/head.ejs') %>

    
    <%-include ('./partials/nav.ejs') %>
     
    <div class="choices">
        <button id="sign-choice" class="list-choice"><a class="a-sign" href="/signup">Sign Up</a></button>
    </div>
    <div id="registered-msg-box" class="registered-msg-box"></div>
<form id="login" class="login" autocomplete="off">
    <div class="username-box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <div class="email-error"></div>
    </div>
    <div class="password-box">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <div class="password-error"></div>
    </div>
    <button class="login-btn">Login</button>
</form>

<%- include('./partials/footer.ejs') %>

<script>
    const login = document.querySelector('#login');

    const emailError = document.querySelector('.email-error');
    const passwordError = document.querySelector('.password-error');

    login.addEventListener('submit', async (e) => {
        e.preventDefault();


        emailError.textContent = '';
        passwordError.textContent = '';

          
            const email = login.email.value;
            const password = login.password.value;

try {

    const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
    });

    const data = await res.json();
    console.log(data)

    if(data.errors) {

        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;

    }
    if(data.profile) {
        location.assign('/home')
        
    }
   }
   catch (err) {
    console.log(err);
    }

    })
</script>
   

