




/* ----------------------------HEADER----------------------------------------- */


:root {

    font-family: 'karla', sans-serif;

}

body {

    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height:100vh;
}

#body {

    padding-bottom: 70px;
}

.welcome-message {

    margin-top: 50px;
    font-family: 'karla', sans-serif;
    font-size: 1em;
    padding: 0 25px;
    letter-spacing: 0.2em;
    color: black;
}



    /* ------------------------FORM/INPUT---------------------------------------- */
.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}



input.search-item {
    
    font-size: 1.4em;
    border-radius: 3px;
    border-bottom:1px solid black;
    border-left:none;
    border-top:none;
    border-right: none;
    height:30px;
    color: black;
    font-family: 'karla', sans-serif;
    outline: none;
    width:80%;
    
    }
input:focus {

    outline: none;
 
    
}
::placeholder {

    color:rgb(214, 210, 210);

}

li {

    cursor: pointer;
}

/* -------------------------------------NEW LAYOUT--------------------------- */


.sub-flex-container {
     
    display:none;
    grid-template-columns: repeat(auto-fit,minmax(30px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 0px 1px;
 
}

.sub-flex-container.active {

    display:grid;
    

}

.count {
    
    background-color: red;
    height: 35px;
    grid-column: span 1;
    

    
}


.shopping-section {

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));;
    grid-template-rows: auto;
    grid-gap: 5px 20px;
    
   
   
}
 .item-sect {

    height:35px;
    border:none;
    background-color: rgb(91, 172, 204);
    justify-items: stretch;
    grid-column: 1 / 8;

  
    
    
} 


.item-sect:hover {

    transform: scale(1.02);
}


h4 {

    margin-top: 10px;
    margin-left: 5px;
    color:white;
}

.results-list {
    width:100%;
    margin:auto;
    transition: 1s;
}

.results-list.open {
    width:100%;
    height:30px;
    transition: 1s;
}

.results-list.collapse {
    width:100%;
    height:0px;
    transition: 1s;
}



.results-items {

    text-align:start;
    height: 50px;
    width:80%;
    margin:5px auto;
    outline: 1px solid black;
    cursor: pointer;
    
    

}
.item-auto-style {

    margin:0;
    padding: 10px 0 0 10px;

}

.sub-cat {

    font-size: 0.7em;
    color:grey;
    padding-left: 10px;
}




.uncheck{

    position: relative;
    background-color: rgb(204, 202, 202);
    list-style:none;
    display: flex;
    max-width: 90px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'karla', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size:0.7em;
    text-align:center;
    background-color: tan;
    height: auto;
   
}
   
    
   


.check{

    position: relative;
    background-color: rgb(204, 202, 202);
    list-style:none;
    display: flex;
    max-width: 90px;
    align-items: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: 'karla', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    background-color: springgreen;
    text-decoration: line-through;
  
   
} 

.close {
  
   position: absolute;
   right:2%;
   font-size: 17px;
   color: black;
  
   
   

}


 .s-list{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4px;
    padding: 0px 5px 0px 5px;
  
    
    
    

}
/* ----------------------------------------------------------------------------- */
/* ---------------------------------SHOPPING LIST-------------------------------- */
 .shopping-wrapper{

    position:relative;
    margin:auto;
    width:258px;
    display:none;
   
   
} 

.shopping-wrapper.active{
    
    
    display:inline-block;
    grid-row: start 2;
    grid-column: 1 / 8;
 
    
   
    
    
    
   
} 


/* --------------------------------LOGIN------------------------------- */

form#login, form#signUp {
   position: absolute;
   top:170px;

}

.login {

    width: 80%;
    margin-left: 10%;
    
}


.username-box, .password-box {

    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin:auto;
   

}

.username-box input, .password-box input {

    height:30px;


}



.choices {

    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding:0;
}

.signlog-choice {

    display: flex;
    padding: 0;
    justify-content: center;
   
}

.list-choice {

    text-decoration: none;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(91, 172, 204);
    outline: none;
    border:none;
    
}

.list-choice.active {

  display: none;
    
}

.a-log, .a-sign {

    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family:'pacifico', sans-serif ;
    letter-spacing: 0.2em;

}
.a-log.active, .a-sign.active {

    display: none;
    
}

/* ---------------------------------signup------------------------------------- */

.name, .signup-info {

    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin:auto;
    
   

}
.signUp {

    width:80%;
    margin-left:10%;
}

label {

    padding:5px 0px;    
}

.name input, .signup-info input {

    height: 30px
}

  /* ---------------------------------Create----------------------------- */

.add-item {

    display: flex;
    flex-direction: column;
    padding:0;
    max-width: 100%;
   
   
    
}

.category-item {

    display: flex;
    flex-direction: column;
    padding-top: 5px;
    color: white;
    z-index: 5;

   
}

.item-name input, .category input {

    width:200px;
   
}

.group input {

    width:50px;
}

.add-btn, .login-btn, .oops-btn, .signup-btn, .create-item-btn, .clear-btn {

    margin-top: 5px;
    margin: auto;
    padding:5px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightblue;
    background-color: red;
    cursor: pointer;
    color: white;
   
}

.login-btn {

    margin-top: 15px;
}

.signup-btn {

    margin-top: 15px;
}

.add-btn {

    margin-top: 20px;
    z-index: 5;
}

.create-item-btn {

    margin-left: 140px;
    transform: translate(-50%);
    margin-top:110px;
    z-index: -1;
}

.clear-btn {

       display: none;
}

.clear-btn.active {

    display: block;
    margin-top: 20px;
}




    .create-overlay {

        display: none;
        position: fixed;
        top:0%;
        bottom:0%;
        left:0%;
        right:0%;
        background-color: rgb(58, 56, 56);
        opacity: 0%;
        
    }
    .create-close {

        position: absolute;
        bottom:-27px;
        left:10px;
        color: white;
        z-index: 5;
        cursor: pointer;
        font-size: 2.5em;

    }

    

  
    option {

        font-size: 0.7em;
        overflow: scroll;
    }

    .times-border {

        position:relative;
        margin: 80px auto;
        border:1px solid white;
        border-radius: 50%;
        z-index: 5;
        width:40px;
        height:40px;
    }

    h3 {

        color: white;
        margin-top: 25px;
    }

    .modal-wrapper {

        display:none;
        z-index: 5;
        
    }

    .create-overlay.active {
        display: block;
        opacity: 98%;
        z-index: 5;
        
    }

    .modal-wrapper.active {

      display:inline-block;
      margin:auto;
    }

    .password-error, .email-error {

        color:red;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.315);
        
        
        
    }





